{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "linebreak-style": "off",
    "space-before-blocks": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "prefer-const": "off",
    "space-before-function-paren": "off"
  },
  "extends": ["eslint:recommended", "google"],
  "plugins": ["jest"]
}
