@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  & i {
    font-size: 18px;
    &:active,
    &.active {
      user-select: none;
      color: $color;
    }
    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}
@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}
