@import 'variables';
@import 'mixins';

.excel__header {
  position: absolute;
  top: 0;
  left: 0;

  right: 0;
  display: flex;
  padding: 8px 4px 0;
  justify-content: space-between;
  height: $header-height;
  & .input {
    margin: 0;
    height: 20px;
    padding: 2px 7px;
    font-style: 18px;
    line-height: 22px;
    outline: none;
    min-width: 1px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    &:hover {
      border: 1px solid $border-color;
    }
    &:focus {
      border: 2px solid #1a73e8;
    }
  }
  & .button {
    @include button(red);
  }
}
